<h3>Category list</h3>
<p><label><%=l(:label_category)%></label><br />
<ul>
<% 
#    This list prints out all the already existing categories from the database table
@categories.each do |category| %>	
	<li><%= category.name %></li>
<% end %>
</ul>
<%= form_tag ({:controller => 'pdm_categories', :action => 'add_category'}, :multipart => true) %>
	<p><label><%=l(:label_add_category)%></label><br />
	<%= text_field_tag('name', '', :size => 60)%></p>
	<%= submit_tag l(:button_category_add) %>
</form>